@use '~@angular/material' as mat;

@include mat.core();

$revuc-primary-colors: (
  50: #ede8f3,
  100: #d1c6e2,
  200: #b3a1cf,
  300: #967bbc,
  400: #8060ad,
  500: #6b45a0,
  600: #63409a,
  700: #583890,
  800: #4e3287,
  900: #3f2776,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$revuc-accent-colors: (
  50: #dcf4ff,
  100: #a6e2ff,
  200: #61d0ff,
  300: #00bdfd,
  400: #00aefb,
  500: #009ff7,
  600: #0092e9,
  700: #007fd5,
  800: #006ec1,
  900: #004e9e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$revuc-primary: mat.define-palette($revuc-primary-colors, 800, 300, 900);
$revuc-accent: mat.define-palette($revuc-accent-colors, 200, 100, 500);

$revuc-warn: mat.define-palette(mat.$red-palette);

$revuc-theme: mat.define-light-theme($revuc-primary, $revuc-accent, $revuc-warn);

@include mat.all-component-themes($revuc-theme);